.App {
  text-align: center;
  font-size: 2em;
  margin-top: 20%;
}

.App-title {
  font-size: 1.5em;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
  display: inline;
  margin: .5em;
}

.Deadline-input {
  font-size: .8em;
  margin: 5px;
}
